

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Address Book</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, initial-scale=1">

<!-- Bootstrap CSS -->

<link rel="stylesheet" type="text/css" href="/styles/style.css">

</head>
<body>
	<div th:fragment="footer">

		<div class="footer">
			<footer class="bg-dark text-center text-white">
				<!-- Grid container -->
				
				<div class=row style="margin-right: 0;">
					
					
					
					<div class=row style="margin-right: 0;">
					<div class=col></div>
					<!-- Copyright -->
					<div class=col>
						<div class="text-center p-3 bg-dark">
							© 2024 Copyright: <a class="text-white"
								href="https://mst.gov.az/">AMST</a>
						</div>
					</div>
					<div class=col>
						<div class="text-center p-3 ">
							Unikal ziyarətçilər: <a th:text="${totalVisitors}"></a> Bu həftə: <a
								th:text="${weeklyVisitors}"></a>
						</div>
					</div>
				</div>

				</div>
				</footer>
		</div>

	</div>

</body>