

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">

<head>

<title>Address Book</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, initial-scale=1">

<!-- Bootstrap CSS -->



<style>
a {
	border: 1px solid #232;
}
</style>


</head>
<body>
	<div th:fragment="nav-bar" class="gradient">

		<nav class="navbar navbar-expand-lg navbar-dark "
			style="height: 120px; width: 100%">
			<div class="container-fluid" id="nav-cont">
				<a class="navbar-brand" style="margin-right: 0; margin-left: 3%;"
					href="/"> <img src="https://i.ibb.co/Zzr5RkT/Logo1.png"
					alt="Logo1" border="0" width="100" height="100"></a>
				<h1 class="nav-link"
					style="font-size: 15px; text-align: left; color: rgba(255, 255, 255, .55); padding-top: 1.5%; margin-right: 2%; padding-left: 2%;">
					<a style="font-size: 110%;" href="/">AZƏRBAYCAN MELİORASİYA <br>VƏ
						SU TƏSƏRRÜFATI <br>AÇIQ SƏHMDAR CƏMİYYƏT<br> SCADA MONITORING SİSTEMİ 
					</a>
				</h1>



				<div class="collapse navbar-collapse" id="navbarsExample07"
					style="padding-left: 5%; padding-top: 10px;">
					<ul class="navbar-nav mr-auto">

						<li class="nav-item active"><h4 class="nav-link">
								<a style="font-size: 110%;" href="/main-list">Anlıq sərfiyyat</a>
							</h4></li>


						<li class="nav-item active"><h4 class="nav-link">

								<a style="font-size: 110%;" href="/tag-logs-all">Toplam sərfiyyat</a>

							</h4></li>
							
						<li class="nav-item active"><h4 class="nav-link">
								<a style="font-size: 110%;" href="/wells">Subartezian quyular</a>
							</h4></li>

					</ul>








				<ul class="navbar-nav mr-auto" style="margin-bottom: 90px">
    <li class="nav-item" sec:authorize="isAnonymous()"
        style="position: absolute; right: 0; margin-right: 30px;">
        <a class="nav-link" style="font-size: 115%;" href="/login">Admin Panel</a>
    </li>

    <li class="nav-item" sec:authorize="isAuthenticated()"
        style="position: absolute; right: 0; margin-right: 120px;">
        <a class="nav-link" style="font-size: 115%;" href="/admin-panel">Admin Panel</a>
    </li>

   <li class="nav-item" sec:authorize="isAuthenticated()"
    style="position: absolute; right: 0; margin-right: 30px;">
    <a class="nav-link" th:href="@{/logout}" style="font-size: 115%;">Logout</a>
</li>
</ul>



				</div>
			</div>
		</nav>
	</div>

	<script th:src="@{/scripts/code.jquery.com_jquery-3.7.0.min.js}"></script>
	<script th:src="@{/scripts/cdn.jsdelivr.net_npm_bootstrap@5.1.3_dist_js_bootstrap.bundle.min.js}"></script>
	<script>
$('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
	  if (!$(this).next().hasClass('show')) {
		    $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
		  }
		  var $subMenu = $(this).next(".dropdown-menu");
		  $subMenu.toggleClass('show');


		  $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
		    $('.dropdown-submenu .show').removeClass("show");
		  });


		  return false;
		});</script>
</body>