<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title> Scada Web Project</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, initial-scale=1">
<link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="http://trentrichardson.com/examples/timepicker/jquery-ui-timepicker-addon.css">  
<!-- Bootstrap CSS -->

<link rel="canonical"
	href="https://getbootstrap.com/docs/4.0/examples/navbars/">


<link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
<style>

.border-div {
    border: 2px solid transparent; /* Устанавливаем ширину и стиль рамки, а также цвет прозрачный */
    border-radius: 10px; /* Устанавливаем радиус закругления углов */
}

.btn-pdf {
    /* Установка явного размера кнопки */
    width: 200px;
    height: 40px;
    
    /* Отключение изменения размера при наведении */
    resize: none;
}
</style>

</head>
<body>

	<div th:fragment="dateSelector">
	
 <form name="myForm"  
th:action="@{/your-endpoint}"
id="myForm"
  method="post">
    <!-- CSRF-токен вставлен в форму вручную -->
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
    
		 <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true"> 
			
		 	<div class="modal-dialog modal-lg"> 
			
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel"></h4>
						<label style="display: none;" class="modal-title" id="tagLogId"></label>
					</div>
					<div class="modal-body">
		
<div class="row border-div">
<a target="_blank" class="btn btn-outline-dark btn-pdf" id="buttonLinkPdf" href="#">Tarirovka cədvəl PDF</a>
<a target="_blank" class="btn btn-outline-dark btn-camera" id="buttonLinkCamera" href="#">Kamera</a>
</div>

          <div class="row ">
          
							<div class="col-sm-4">
							 <div class="form-group">
                    <label for="dateRangePicker">Vaxt aralığını seçin və təsdiqləyin:</label>
                    <input type="text" id="dateRangePicker" name="dateRangePicker" class="form-control" autocomplete="off" />
					
					
                </div>
            
</div></div>
<p id="statusLabel"> <span th:text="${result}" id="statusText"></span><span style="font-weight: bold;" th:text="${result}" id="statusInfo"></span></p>


						<div class="modal-footer">
					
					
					
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal"  onclick="closeModal()">Bağlamaq</button>
							<button type="submit" class="btn btn-primary" >Təsdiq et</button>
						
						</div>
	 		
					</div>
					
				</div>
			</div>
			
		

			<script>
function openModal(tagName, tagTotalId, tagId, camLink) {
	$('#myModal').modal('show'); 
	$('#myModalLabel').text("Ətraflı məlumat - " + tagName);
	$('#statusInfo').text("");
	$('#statusText').text("");
	$('#tagLogId').val(tagTotalId).hide();

	
	// Получите элемент <a> с id "buttonLinkPdf"
    var buttonLinkPdf = $('#buttonLinkPdf');

    // Установите атрибут href для ссылки
    buttonLinkPdf.attr('href', '/get-pdf/' + tagId + '.pdf');

    // Установите атрибут target="_blank", чтобы открыть ссылку в новой вкладке
    buttonLinkPdf.attr('target', '_blank');

    
    

    var buttonLinkCamera = $('#buttonLinkCamera');

    camLink = 'http://' + camLink;
    // Установите атрибут href для ссылки без "localhost" и с протоколом "https://"
    buttonLinkCamera.attr('href', camLink);

    // Установите атрибут target="_blank", чтобы открыть ссылку в новой вкладке
    buttonLinkCamera.attr('target', '_blank');
    
    // test
    
    console.log('tagId:', tagId);
    console.log('tagTotalId:', tagTotalId);
    console.log('camLink:', camLink);
 
}




$('#myForm').submit(function (e) {
    e.preventDefault(); // Предотвратить обычную отправку формы

    // Создайте объект данных для отправки на сервер
    var formData = {
        dateRangePicker: $('#dateRangePicker').val(),
        tagLogId: $('#tagLogId').val()
    };

$.ajax({
    type: 'POST',
    url: '/your-endpoint', // Замените на URL вашего контроллера, который обрабатывает POST-запрос
    data: formData,
    success: function (data) {
        // Обновляем значение лейбла с полученными данными
         $('#statusText').text("Seçilmiş vaxt aralığında keçən toplam su miqdarı: " );
        $('#statusInfo').text(data+" m"+'3\u00B3' );

    },
    error: function (xhr, status, error) {
        console.error('Ошибка при выполнении POST-запроса: ' + error);
    }
});
});

function closeModal() {
	$('#myModal').modal('hide');
	 $('#dateRangePicker').val('');
	    $('#tagLogId').val('');
}



$(document).ready(function () {
    // Инициализация поля выбора диапазона дат
    $('#dateRangePicker').daterangepicker({
        timePicker: true,
        timePicker24Hour: true,
        timePickerIncrement: 1,
        numberOfMonths: 3, // Отображать три месяца
        minYear:2022,
        locale: {
            format: 'MM/DD/YYYY HH:mm', // Формат даты и времени
            applyLabel: 'Qəbul etmək', // Текст кнопки "Применить"
            cancelLabel: 'Ləğv etmək', // Текст кнопки "Отмена"
            daysOfWeek: ['B.', 'B.E.', 'Ç.A.', 'Ç.', 'C.A.', 'C.', 'Ş'], // Дни недели
            monthNames: ['Yanvar', 'Fevral', 'Mart', 'Aprel', 'May', 'İyun', 'İyul', 'Avqust', 'Sentyabr', 'Oktyabr', 'Noyabr', 'Dekabr'], // Месяцы
            firstDay: 1 // Неделя начинается с понедельника
        },
        startDate: moment().subtract(7, 'days'), // Начальная дата
        endDate: moment(), // Конечная дата (по умолчанию текущая дата и время)
        opens: 'left' // Открывать календарь с левой стороны
    });
});





</script>

		 </div> 
		 </form>
		 
		</div>
</body>