html {
	position: relative;
	margin: 0;
	padding: 0;
	}

body {
	position: relative;
 	background: url('../img/Ming_bg.jpg') no-repeat center center fixed;
 	background-size: cover;
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

a {text-decoration: none;}

#forbg {
	min-height: 95vh;
	margin: 0px auto;	
}

#nav {
font-family: Gill Sans;
font-weight: bold;
height:150px;

}

#nav-cont a:hover {
    color: white;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

#card {

        color: transparent;
        text-shadow: 0 0 8px #000;
        text-align:center;	
  		transition: transform .2s; /* Animation */
  	
       
}

.card:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


#input
{
	border: 3px solid gray;
	border-radius:5px;
  	box-shadow: 5px 5px 5px #000000;
}

#add_buttons
{
padding-top:2%;
}


h1 {
	text-align: center;
}


#main
{
	padding-top:2%;
	padding-bottom:5%;
}
#tagLogTable, #tagLogTable-second, #WellTable, #NotoficationTable
{
  border: 3px solid gray;
  box-shadow: 5px 5px 5px #000000;
}





#table-search-well {
	
  max-width: 80%; /* Ограничение максимальной ширины, если необходимо */
}


#sector-btn
{
	
font-family: Gill Sans;


}

#sector-btn:hover
{
	
font-family: Gill Sans;
font-size: 100%;
    background-color: #6c757d;
    border-color: #6c757d; /*set the color you want here*/

}

label {
    display: flex;
    align-items: center;
}

label > input[type="search"] {
    flex: 1;
    width: 100%;
    margin-left: 10px; /* Добавьте отступ между лейблом и инпутом, если необходимо */
}


/* Рамка */
#tagLogTable_filter, #tagLogTable-second_filter, #WellTable_filter, #NotificationTable_filter
{
	border: 3px solid gray;
	border-radius:10px;
  	box-shadow: 5px 5px 5px #000000;
  	margin-bottom:1%;
  	
}
#tagLogTable_filter.label, #tagLogTable-second_filter.label, #WellTable_filter.label, #NotificationTable_filter.label
{
display: block; width: 100px;
}

#test {
	width: 450px;
	clear: both;
	padding-top: 30px;
	padding-bottom: 60px;
}

.form-control {
	width: 250%;
	    
	
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: -1%;
   
}

.footer {

	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	margin-top: auto;
	position:absolute;
}
h1
{
	text-shadow: 2px 2px 3px #0080c0;
	
}


.officeTable {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
}

.dataTables_wrapper .dataTables_filter {
    float: left;
    text-align: left;
    background: white;
    width:30%;
}



#nav-cont
{
	
	    width: 100%;
    padding-right:0;
    padding-left: 0;
    margin-right: 0;
    margin-left:0;
}


#tagLogTable, #tagLogTable-second, #WellTable, #NotificationTable
{
	background: white;
	margin-top: 3%;
}


#login_panel
{
	margin-top:10%;
}

.dropdown-menu a, a {
   color: #D3D3D3;
   text-decoration: none;
    font-size: 80%;
}

.dropdown-menu a:visited, a:visited
{
   color: #D3D3D3;
   text-decoration: none;
    font-size: 80%;
}
.dropdown-menu a:hover, a:hover
{
   color: white;
   text-decoration: none;
    font-size: 80%;
}
.dropdown-menu a:active, a:active
{
   color: #292b2c;
   text-decoration: none;
   font-size: 80%;
}


div.dt-buttons>.dt-button:hover:not(.disabled), div.dt-buttons>div.dt-button-split .dt-button:hover:not(.disabled) {

  	 background-color: rgba(200, 200, 200); 
    opacity:1;
}

div.dt-buttons > .dt-button,
div.dt-buttons > div.dt-button-split .dt-button {
    background-color: white;
    border: 3px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000000;
    transition: background-color 0.3s; /* Плавное изменение фона при наведении */
}




.navbarsExample07
	{
	padding-left:5%;
	}

li:hover{ background-color: #212529}
li:active{ background-color: #212529}

/* ============ For multiple dropdown ============ */
/* ============ desktop view ============ */
@media all and (min-width: 992px) {

	
	.navbarsExample07
	{
	font-size:17px;
	}
	
	.dropdown-menu li{
		position: relative;
		
	}
	.dropdown-menu .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
		
	}
	.dropdown-menu .submenu-left{ 
		right:100%; left:auto;
	}

	.dropdown-menu > li:hover{ background-color: #212529}
	
	.dropdown-menu > li:hover > .submenu{
		display: block;
	}
}	
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {

.dropdown-menu .dropdown-menu{
		margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
}

}	
/* ============ small devices .end// ============ */


h1 {
	text-align: center;
}

#test {
	width: 450px;
	clear: both;
	padding-top: 30px;
	padding-bottom: 60px;
}

.form-control {
	width: 250%;
}

label {
	display: inline-flex;
	width: 100%;
}


#tagLogTable td , #tagLogTable-second td, #NotificationTable td {
    height: 40px;
    width: 50px;
    text-align: center; 
    vertical-align: middle;
}

/* Стили для заголовков */
#tagLogTable th , #tagLogTable-second th , #NotificationTable th {
    height: 40px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
}

/* Стили для фиксированных заголовков */
.table display table-striped table-bordered compact bg-white cell-border dataTable no-footer fixedHeader-floating th {
    height: 40px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
}

.dataTables_scrollBody td {
    height: 40px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
}




#tagLogTable td:nth-child(2) , #tagLogTable-second td:nth-child(2), #NotificationTable td:nth-child(2){
    width: 170px; 
}
#tagLogTable td:nth-child(5) , #tagLogTable-second td:nth-child(5), #NotificationTable td:nth-child(5){
    width: 170px; 
}

#tagLogTable td:nth-child(6) , #tagLogTable-second td:nth-child(6), #NotificationTable td:nth-child(6){
    width: 170px; 
}

 .custom-select {
    padding: 0; /* Убираем padding */
    transform: scale(1.1);
  }
  .pick-label{
  transform: scale(1.1);
  }


     .camera-link {
        color: #fff; /* Цвет текста */
    }

    .camera-link:hover {
        color: #fff; /* Измененный цвет при наведении */
    }

    .camera-link:visited {
        color: #fff; /* Цвет после посещения */
    }


.modal-footer {
  margin-top: 20px; /* Задать отступ сверху в 20 пикселей (или другое значение) */
  }
  
  .bg-white {
    --bs-bg-opacity: 1;
    background-color: rgba(0, 0, 0, 0);
}



/*Для статус контейнера*/
  .status-container {
        border: 1px solid #ccc;
        border-radius: 5px; /* Закругляем края */
        padding: 10px;
        background-color: #fff;
        width: 300px; /* Уменьшаем ширину */
        margin-bottom: 20px; /* Добавляем отступ снизу */
        margin-left: 1%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); /* Добавляем серую рамку */
    }

    .status-label {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 2px;
    }

    .online {
        color: green;
    }

    .offline {
        color: red;
    }
    
    
/* Изменение цвета кнопки "Apply" */
.daterangepicker .applyBtn {
    background-color: #000; /* Черный цвет фона */
    color: #fff; /* Белый цвет текста */
}

/* Изменение цвета выбранной даты */
.daterangepicker td.active, .daterangepicker td.active:hover, .daterangepicker td.active.hovered {
    background-color: #000; /* Черный цвет фона */
    color: #fff; /* Белый цвет текста */
}

/* Изменение шрифта на Gill Sans */
.daterangepicker {
    font-family: 'Gill Sans', sans-serif; /* Шрифт Gill Sans */
}
.btn-pdf, .btn-camera {
    /* Установка явного размера кнопки */
    width: 200px;
    height: 40px;
    font-size: 16px;
    /* Отключение изменения размера при наведении */
    resize: none;
    /* Устанавливаем цвет текста по умолчанию (чёрный) */
    color: black !important; 
    /* Устанавливаем фоновый цвет по умолчанию (если необходимо) */
    background-color: transparent; /* Прозрачный фон */
  margin-left:10px;
  margin-bottom:10px;
}
.btn-pdf:hover, .btn-camera:hover {
    font-size: 16px !important;
    color: white !important; /* Устанавливаем цвет текста при наведении на кнопку */
}
.dropdown-menu a:visited, a:visited {  
    text-decoration: none;
    font-size: 80%;
}

#tagLogTable_paginate, #tagLogTable-second_paginate {
	text-align: center;
}
.text-danger {
	color: red;
}
.fw-bold {
	font-weight: bold;
}

.border-div {
    border: 2px solid transparent; /* Устанавливаем ширину и стиль рамки, а также цвет прозрачный */
    border-radius: 10px; /* Устанавливаем радиус закругления углов */
}
.btn-pdf {
    /* Установка явного размера кнопки */
    width: 200px;
    height: 40px;
    
    /* Отключение изменения размера при наведении */
    resize: none;
}


#scrollToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #212121;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 65px;
    height: 65px;
    font-size: 29px;
}
#scrollToTopButton svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
    transition: fill 0.2s;
}
#scrollToTopButton:hover {background-color: #212121;}
#scrollToTopButton:hover svg {fill: #fff;}